body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
}

/* Разметка хэдэра */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.nav-list-link,
.contact-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-list-link:hover,
.nav-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
  color: #2196f3;
}

.contact-list-link {
  color: #757575;
}

/* Разметка HERO секции */
